{% extends 'base.html' %}
{% block content %}
<h1>Reviews</h1>
<ul>
    {% for review in reviews %}
        <li>
            <a href="{% url 'reviews:detail' review.pk %}">
                {{ review.movie.title }} - {{ review.rating }}/10
            </a>
            <br>
            <strong>Reviewer:</strong> {{ review.author.username }}<br>
            <strong>Date:</strong> {{ review.created_at|date:"F j, Y" }}<br>
            <strong>Comment:</strong> {{ review.comment|truncatewords:20 }}
        </li>
    {% empty %}
        <li>No reviews available.</li>
    {% endfor %}
</ul>
<a href="{% url 'reviews:add' %}">Add a new review</a>
{% endblock %}
